.contact__action {
    background: #0667D5 !important;
    font-family: AvenirNextLTPro-Demi !important;
    font-size: 28px !important;
    margin: 0 16px !important;
    text-transform: none !important;
}

.contact__actions {
    margin: 28px 0;
}

.contact__container {
    align-items: center;
    display: flex;
    flex-direction: column;
    font-size: 28px;
}

.contact__contribute {
    background: #E5332C !important;
    font-family: AvenirNextLTPro-Bold !important;
    text-transform: uppercase !important;
}

@media screen and (max-width: 768px) {
    .contact__action {
        font-size: 24px !important;
    }

    .contact__action:not(:last-child) {
        margin-bottom: 12px !important;
    }

    .contact__container {
        text-align: center;
    }
}
