.go-to-tge-container {
    margin: 40px 0;
    padding: 20px;
    background: white;
}

.go-to-tge-container-title {
    text-align: center;
    font-family: AvenirNextLTPro-Demi;
    font-size: 24px;
    margin: 10px 0 20px 0;
}

.go-to-tge-container .hero-buttons .tge-dashboard {
    background: #E5332C !important;
}

.go-to-tge-container .hero-buttons .tge-dashboard:hover {
    background: #E5332C !important;
}

.go-to-tge-container .video-info {
    font-family: AvenirNextLTPro;
    font-size: 20px;
    columns: #000000;
    margin-top: 18px;
}

.go-to-tge-container .video-info:hover {
    color: #174da1;
}

.go-to-tge-container .main-block .text-block {
    margin-right: 5%;
}

.go-to-tge-container .video-info a,
.go-to-tge-container .video-info a:link,
.go-to-tge-container .video-info a:visited {
    color: #000000;
    text-decoration:none;
}

.go-to-tge-container .video-info a:hover {
    color: #174da1;
}

@media (max-width: 599.5px) {
    .go-to-tge-container {
        margin: 0;
        padding: 0;
        padding: 8px;
        padding-bottom: 20px;
        margin-top: 20px;
    }
    .go-to-tge-container .video-info {
        margin-top: 5px;
        padding-bottom: 15px;
    }
}
