.network-architecture {
    position: relative;
    margin-bottom: 90px;
}

.network-architecture-background{
    position: absolute;
    top: 0;
    left: 0;
    width: 80%;
    height: 100%;
    background-color: white;
    z-index: -1;
}

.network-architecture-texture {
    width: 100%;
    height: 100%;
}

.card-image-container {
    width: 35%;
    position: relative;
    background-color: #ffffff;
    box-shadow: 3px 0 57px 0 rgba(48, 31, 177, 0.2);
}

.card-image {
    width: 75%;
    max-width: 200px;
    padding: 15%;
    object-fit: contain;
}

.card-text {
    width: 55%;
    padding-top: 4%;
    border-bottom: 9px solid #141414;
}

.network-card {
    border-bottom: 1px solid #141414;
}

.card-header {
    font-family: AvenirNextLTPro-Demi;
    font-size: 36px;
    font-weight: bold;
    color: #141414;
}

.card-content {
    padding: 5% 0;
    opacity: 0.6;
    font-family: AvenirNextLTPro;
    font-size: 18px;
    text-align: justify;
    color: rgba(20, 20, 20, 0.6);
}

@media (min-width: 960px) {
    .card-image-container {
        max-width: 250px !important;
    }
}

@media (max-width: 1279.5px) {
    .card-content {
        font-size: 18px;
        margin-right: 5%;
    }
    .card-header {
        font-size: 32px;
    }
}

@media (max-width: 959.5px) {
    .network-architecture {
        margin-bottom: 0;
    }
    .card-content {
        font-size: 17px;
        margin-right: 10%;
    }
    .card-header {
        font-size: 24px;
        margin-top: 20px;
        text-align: left;
    }

    .card-image-container {
        padding: 0 20% !important;
    }

    .card-text {
        border: none;
    }

    .network-card-wrapper {
        margin-bottom: 2% !important;
        margin-left: 0 !important;
    }

    .network-card {
        border: none;
    }
}

@media (max-width: 599.5px) {
    .card-content {
        font-size: 16px;
        margin-right: 0;
    }
    .card-header {
        text-align: left;
    }
    .network-architecture-background {
        width: 100%;
    }
    .network-card {
        width: calc(100% - 40px);
    }
}
