.partner-media-wrapper {
    margin-top: 0 !important;
    margin-bottom: 89px;
    background-color: #FFFFFF !important;
}

.partner-media-background-text {
    left: -145px;
    top: 130px;
}

.partner-media-container {
    max-width: 350px;
    min-height: 440px;
}

.partner-media-image {
    margin-bottom: 20px;
}
#mail-buttom span {
    text-transform: lowercase;
}
.partner-media-title {
    font-family: AvenirNextLTPro-Demi;
    font-size: 24px;
    text-decoration: underline;
    margin-bottom: 15px;
}

.partner-media-name {
    font-family: AvenirNextLTPro-Regular;
    font-size: 18px;
    margin-bottom: 20px;
}

.partner-media-text {
    font-family: AvenirNextLTPro-Regular;
    font-size: 18px;
    margin-bottom: 15px;
}

.partner-media-date {
    font-family: AvenirNextLTPro-Regular;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.43);
}

.partner-media-container {
    cursor: pointer;
}
.media-landing-cards a:link {
    color:inherit;
}

.media-landing-cards a {
    text-decoration: none;
}
.media-landing-cards a:link,.media-landing-cards a:visited {
    color: black;
}
.media-landing-cards a:hover {
    color: black;
}
@media (max-width: 1279.5px) {
    .partner-media-container {
        max-width: 350px;
        min-height: 400px;
    }

    .partner-media-image {
        width: 300px;
    }

    .partner-media-title {
        font-size: 22px;
    }

    .partner-media-name {
        font-size: 16px;
    }

    .partner-media-text {
        font-size: 16px;
    }

    .partner-media-date {
        font-size: 16px;
    }
}

@media (max-width: 959.5px) {
    .partner-media-container {
        max-width: 300px;
        min-height: 370px;
    }

    .partner-media-image {
        width: 240px;
    }

    .partner-media-title {
        font-size: 18px;
    }

    .partner-media-name {
        font-size: 15px;
    }

    .partner-media-text {
        font-size: 15px;
    }

    .partner-media-date {
        font-size: 15px;
    }
}

@media (max-width: 599.5px) {
    .partner-media-container {
        max-width: 250px;
        min-height: 320px;
    }

    .partner-media-image {
        width: 200px;
    }

    .partner-media-title {
        font-size: 16px;
    }

    .partner-media-name {
        font-size: 14px;
    }

    .partner-media-text {
        font-size: 14px;
    }

    .partner-media-date {
        font-size: 14px;
    }
}
